<a href="$url('Search-Show','cgid','@@link')$" class="hero hero--one-cta">
    <section class="hero__container container">
        <div class="container__texte">
            <div class="title-container">
                <h2 class="font-barlow">
                    @@title
                </h2>
                <h3 class="font-barlow">
                    @@subtitle
                </h3>
            </div>
        </div>
        <div class="hero__ctas-container @@class-cta">
            <p class="cta--hero">
                @@texte-link
            </p>
        </div>
    </section>
    <section class="hero__picture">
        <picture>
            <source srcset="images/assets/2023/soldes/soldes_hero_only_desk.webp?$staticlink$"
                media="(min-width: 1023px)" />
            <source srcset="images/assets/2023/soldes/soldes_hero_only_tab.webp?$staticlink$"
                media="(min-width: 767px)" />
            <img src="images/assets/2023/soldes/soldes_hero_only_mob.webp?$staticlink$" alt="@@alt" />
        </picture>
    </section>
</a>