/* Object-fit et object-position */

.x-fit-cover {
    object-fit: cover;
    object-position: center;
}

.x-fit-cover-center {
    object-fit: cover;
    object-position: center;
}

.x-fit-cover-top {
    object-fit: cover;
    object-position: top;
}

.x-fit-cover-bot {
    object-fit: cover;
    object-position: bottom;
}

.x-fit-cover-right {
    object-fit: cover;
    object-position: right;
}

.x-fit-cover-left {
    object-fit: cover;
    object-position: left;
}

.x-fit-contain {
    object-fit: contain;
    object-position: center;
}

.x-fit-contain-left {
    object-fit: contain;
    object-position: left;
}

.x-bot-auto {
    bottom: auto;
}

.x-top-auto {
    top: auto;
}


@media screen and (min-width: 1024px) {
    .x-fit-cover-l {
        object-fit: cover;
        object-position: center;
    }
    .x-fit-cover-center-l {
        object-fit: cover;
        object-position: center;
    }
    .x-fit-cover-top-l {
        object-fit: cover;
        object-position: top;
    }
    .x-fit-cover-bot-l {
        object-fit: cover;
        object-position: bottom;
    }
    .x-fit-cover-right-l {
        object-fit: cover;
        object-position: right;
    }
    .x-fit-cover-left-l {
        object-fit: cover;
        object-position: left;
    }
    .x-fit-contain-l {
        object-fit: contain;
        object-position: center;
    }

    .x-fit-contain-left-l {
        object-fit: contain;
        object-position: left;
    }

    .x-bot-auto-l {
        bottom: auto;
    }

    .x-top-auto-l {
        top: auto;
    }
}


/* Overflow */

.x-overflow-h {
    overflow: hidden;
}

.x-overflow-v {
    overflow: visible;
}


/* Effet de hover */

.x-hover-BW {
    transition: filter 0.1s linear;
    &:hover {
        filter: sepia(0.2);
    }
}


/* Border-radius */

.x-round {
    border-radius: 50%;
}


/* Effets de texte */

.x-underline-b {
    text-decoration: underline;
}

.x-italique {
    font-style: italic;
}

.x-upper {
    text-transform: uppercase;
}

.x-asterisque {
    font-size: 0.5em;
    position: absolute;
    top: -5%;
}

.x-display-none {
    display: none !important;
}

.x-display-block {
    display: block;
}


.x-hide-mobile {
    @media (max-width: 767px) {
        display: none !important;
    }
}

.x-hide-desktop {
    @media (min-width: 768px) {
        display: none !important;
    }
}

.x-hide-desktop-gap {
    @media (min-width: 768px) and (max-width: 1600px) {
        display: none;
    }
}

.x-hide-big-screen {
    @media (min-width: 1600px) {
        display: none;
    }
}

// ---- Pour les BR ---- //
.mobile-space {
    display: contents;
    @include min1024() {
        display: none;
    }
}

.desktop-space {
    display: none;
    @include min1024() {
        display: contents;
    }
}

// ---- Nowrap ---- //
.nowrap {
    white-space: nowrap;
}

.nowrap-l {
    @include min1024() {
        white-space: nowrap;
    }
}