<section class="hero__text text-wrapper">
    <h2 class="text-wrapper__title font-barlow">@@texte-h2</h2>
    <div class="text-wrapper__reduction">
        <p class="font-barlow">@@texte-until</p>
        <h3 class="font-barlow">@@texte-pourcentage</h3>
    </div>
    <p class="text-wrapper__caption font-barlow">@@texte-paragraphe</p>
</section>
<section class="hero__ctas">
    <a class="cta" href="$url('Search-Show','cgid','@@first-link')$">
        @@first-text-link
    </a>
    <a class="cta" href="$url('Search-Show','cgid','@@second-link')$">
        @@second-text-link
    </a>
    <a class="cta" href="$url('Search-Show','cgid','@@third-link')$">
        @@third-text-link
    </a>
    <a class="cta" href="$url('Search-Show','cgid','@@fourth-link')$">
        @@fourth-text-link
    </a>
</section>