$gap-title: 2.5rem;
$paragraphe-size-mob: .9rem;
$paragraphe-size-desk: 1rem;
$paragraphe-line-height-mob: 1.4rem;
$paragraphe-line-height-desk: 1.6rem;
$title-size-mob: 1.3rem;
$title-size-desk: 1.5rem;
$subtitle-size: 1.1rem;
$gap-block-mob: 1.5rem;
$gap-block-desk: 2rem;
$article-title: #731f4b;

.banniere {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: 1rem;

    @include min1024() {
        background-color: #f8f1f1;
        padding-block: 3rem;
        flex-direction: row;
    }

    @include min1440() {
        padding-block: 2rem;
    }

    &__texte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include min1024() {
            width: 50%;
        }

        .container {
            justify-content: center;
            align-items: center;
            display: flex;

            &__date {
                margin-bottom: 0;
                padding-right: 1rem;
                border-right: 1px solid #000;

                .date__color {
                    color: #9b090d;
                }
            }

            &__tag {
                padding: .2rem .5rem;
                background: #9b090d;
                font-size: .8rem;
                margin-left: 1rem;
                color: #fff;
                font-weight: 500;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .texte__h1 {
            width: 85%;
            text-align: center;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 2rem;
            margin-block: 1rem 1.5rem;

            @include min1920() {
                width: 75%;
            }
        }

        .description {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include min1024() {
                margin-top: 0;
            }

            .description__cta {
                margin-block: 1rem 0;
                font-size: $paragraphe-size-mob;
                padding: .7rem 1.5rem;
                color: #000;
                border: 1px solid #000;
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 0;
                transition: all .2s ease-in;

                @include min1024() {
                    font-size: $paragraphe-size-desk;
                }

                &:hover {
                    background: #000;
                    color: #fff;
                }
            }

            .description__texte {
                width: 85%;
                color: #000;
                text-align: center;
                font-size: $paragraphe-size-mob;
                font-family: 'Barlow', sans-serif;
                line-height: $paragraphe-line-height-mob;
                letter-spacing: .01rem;
                margin-bottom: .5rem;

                strong {
                    font-weight: 600;
                }

                @include min1024() {
                    font-size: $paragraphe-size-desk;
                }
            }
        }

        .texte__image {
            display: flex;
            width: 100%;
            height: 207px;

            @include min768() {
                height: 400px;
            }

            @include min1024() {
                display: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    &__image {
        display: none;
        width: 100%;

        @include min1024() {
            height: 360px;
            padding-inline: 2rem;
            width: 50%;
            display: flex;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}

.network {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    padding-block: 2rem;

    &__texte {
        text-align: center;
        margin-bottom: 1.5rem;
        font-family: 'Lato', sans-serif;
        font-size: $title-size-mob;
        font-weight: 800;
        line-height: 2rem;
        width: 100%;

        @include min1024() {
            font-size: $title-size-desk;
        }
    }

    &__list {
        list-style-type: none;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        &.list .list__item {
            width: 30px;
            height: 30px;

            a {
                text-decoration: none;

                svg {
                    fill: #000;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.content {
    padding-block: 1rem 2rem;
    padding-inline: 1.5rem;

    @include min1024() {
        padding-block: 2.5rem;
        padding-inline: 3rem;
    }

    @include min1440() {
        padding-block: 2.5rem;
        padding-inline: 8rem;
    }

    @include min1920() {
        padding-block: 2.5rem;
        padding-inline: 24rem;
    }
}

.content.content__img {
    @include min1024() {
        padding-inline: 5rem;
    }

    @include min1440() {
        padding-inline: 16rem;
    }

    @include min1920() {
        padding-inline: 24rem;
    }
}



.content__p,
.block__p,
.block__ul li {
    text-align: justify;
    font-size: $paragraphe-size-mob;
    font-family: 'Barlow', sans-serif;
    line-height: $paragraphe-line-height-mob;
    letter-spacing: .01rem;
    margin-bottom: .5rem;

    @include min1024() {
        font-size: $paragraphe-size-desk;
        line-height: $paragraphe-line-height-desk;
    }
}

.block__ul li {
    list-style-type: circle;
}

.content__p--first {
    margin-bottom: 1.5rem;

    @include min1024() {
        margin-bottom: 2.5rem;
    }
}

.banniere__link {
    text-decoration: underline;
    color: #9b090d;

    &:hover {
        text-decoration: none;
    }
}

.block__title {
    font-family: 'Lato', sans-serif;
    font-size: $title-size-mob;
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 800;
    line-height: 2rem;
    width: 100%;

    @include min1024() {
        font-size: $title-size-desk;
    }
}

.block__subtitle {
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-size: $subtitle-size;
    margin-bottom: .5rem;
    text-align: left;
    font-weight: 600;
    line-height: 2rem;
    width: 100%;
    letter-spacing: 0.2px;

}

.block {

    &.block-container {
        display: flex;
        flex-direction: column;

        .block__image {
            height: 240px;

            @include min768() {
                height: 400px;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        @include min1024() {
            align-items: center;
            flex-direction: row;
            gap: 2rem;

            .block__texte {
                width: 60%;
            }

            .block__image {
                width: 40%;
                height: 350px;
            }
        }
    }

    &__container-texte-image {
        display: flex;
        flex-direction: column;

        @include min1024() {
            flex-direction: row;
        }

        .container__image {
            @include min1024() {
                width: 30%;
            }
        }

        .container__texte {
            @include min1024() {
                width: 70%;
            }
        }

    }

    &__p {
        strong {
            font-weight: 600;
        }
    }

    &__ul {
        margin-left: 1rem;
    }

    &:first-child {
        margin-block: 0 $gap-block-mob;

        @include min1024() {
            margin-block: .5rem $gap-block-desk;
        }
    }

    &:not(last-child) {
        margin-bottom: $gap-block-mob;

        @include min1024() {
            margin-bottom: $gap-block-desk;
        }
    }
}

.block-container {
    &:first-child {
        @include min1024() {
            margin-block: 0 4rem;
        }
    }

    @include min1024() {
        margin-block: 0 4rem;
    }

    &.block-container--reversed {
        @include min1024() {
            flex-direction: row-reverse;
        }
    }

    .block__texte {
        margin-bottom: 1rem;

        @include min1024() {
            margin-bottom: 0;
        }
    }
}

.slider {
    width: 100%;
    margin-bottom: 3rem;

    h2 {
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 2rem;

        @include min1024() {
            font-size: 2rem;
        }
    }

    .articles {
        display: grid;
        gap: 1rem;
        grid-auto-flow: column;
        grid-auto-columns: 90%;

        @include min768() {
            grid-auto-columns: 60%;
        }

        padding: 0 1rem 1rem;

        overflow-x: auto;
        overscroll-behavior-inline: contain;


        @include min1024() {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1.7rem;
            flex-direction: row;
            width: 100%;
        }

        .article {
            border-radius: .25rem .25rem 0 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
            -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
            -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);

            @include min1024() {
                width: 280px;

                &:hover {
                    .article__image img {
                        transform: scale(1.1);
                    }
                }
            }

            @include min1440() {
                width: 340px;
            }

            &:not(:last-child) {
                @include min1024() {
                    margin-right: 1rem;
                }
            }



            &__image {
                border-radius: .25rem .25rem 0 0;
                width: 100%;
                height: 200px;
                overflow: hidden;

                @include min768() {
                    height: 275px;
                }

                @include min1024() {
                    height: 240px;
                }

                @include min1440() {
                    height: 220px;
                }

                img {
                    border-radius: .25rem .25rem 0 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform .1s ease-in;
                }
            }

            .content {
                border-radius: 0 0 .25rem .25rem;
                background-color: #fff;
                padding-block: 2rem;
                padding-inline: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                height: 260px;

                @include min768() {
                    height: 210px;
                }

                @include min1024 {
                    padding-block: 1.5rem;
                    height: 240px;
                }

                &__title {
                    font-family: 'Barlow', sans-serif;
                    color: $article-title;
                    font-weight: 600;
                    font-size: $paragraphe-size-desk;
                    margin-bottom: $gap-title;

                    @include min1024() {
                        font-size: $paragraphe-size-desk;
                    }
                }

                &__cta {
                    color: #000;
                    font-size: $paragraphe-size-desk;
                    padding: .7rem 1.5rem;
                    border: 1px solid #000;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 0;
                    transition: all .2s ease-in;

                    @include min1024() {
                        font-size: $paragraphe-size-desk;
                    }

                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.slider-scroll {
    width: 100%;
    margin-bottom: 3rem;
    margin: 0 auto 3rem;

    @include min1024() {
        width: 90%;
        overflow: hidden;
    }

    @include min1440() {
        width: 80%;
    }



    h2 {
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 2rem;

        @include min1024() {
            font-size: 2rem;
        }
    }

    .articles {
        display: grid;
        gap: 1rem;
        grid-auto-flow: column;
        grid-auto-columns: 90%;

        @include min768() {
            grid-auto-columns: 80%;
        }

        @include min1024() {
            grid-auto-columns: 32%;
            scrollbar-color: #93173B lightgrey;
            scrollbar-width: thin;
        }

        @include min1440() {
            grid-auto-columns: 31%;
        }

        @include min1920() {
            grid-auto-columns: 23%;
        }

        padding: 0 1rem 1rem;

        overflow-x: auto;
        overscroll-behavior-inline: contain;

        .article {
            border-radius: .25rem .25rem 0 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
            -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);
            -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, .1);

            @include min1024() {
                width: 280px;

                &:hover {
                    .article__image img {
                        transform: scale(1.1);
                    }
                }
            }

            @include min1440() {
                width: 340px;
            }

            &:not(:last-child) {
                @include min1024() {
                    margin-right: 1rem;
                }
            }



            &__image {
                border-radius: .25rem .25rem 0 0;
                width: 100%;
                height: 200px;
                overflow: hidden;

                @include min768() {
                    height: 385px;
                }

                @include min1024() {
                    height: 240px;
                }

                @include min1440() {
                    height: 220px;
                }

                img {
                    border-radius: .25rem .25rem 0 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform .1s ease-in;
                }
            }

            .content {
                border-radius: 0 0 .25rem .25rem;
                background-color: #fff;
                padding-block: 2rem;
                padding-inline: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                height: 260px;

                @include min768() {
                    height: 210px;
                }

                @include min1024 {
                    padding-block: 1.5rem;
                    height: 240px;
                }

                &__title {
                    font-family: 'Barlow', sans-serif;
                    color: $article-title;
                    font-weight: 600;
                    font-size: $paragraphe-size-desk;
                    margin-bottom: $gap-title;

                    @include min1024() {
                        font-size: $paragraphe-size-desk;
                    }
                }

                &__cta {
                    color: #000;
                    font-size: $paragraphe-size-desk;
                    padding: .7rem 1.5rem;
                    border: 1px solid #000;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-bottom: 0;
                    transition: all .2s ease-in;

                    @include min1024() {
                        font-size: $paragraphe-size-desk;
                    }

                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
}